.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
data/2012Ark_Size_Spectra/
data/Ark_Size_Spectra_2019/
data/raw_csv/
data/raw_csv_fixed/
Qs for oct 2022 meeting
Size spectra SOP CA Gulch.docx
data/ark_1999-2021/
data/ark_2012/
data/ark2019/
